# https://github.com/actions/virtual-environments

name: docs

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish-docs:
    name: Publish Documentation
    runs-on: macos-12
    env:
      DEVELOPER_DIR: /Applications/Xcode_14.2.app
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v3
        with:
          path: .build
          key: spm-${{ runner.os }}-${{ hashFiles('Package.swift') }}
      - name: Build docs
        run: make docs
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs
